# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Reflex
.web
.states
.reflex/

# Entornos virtuales
venv/
.env

# VSCode
.vscode/

# MacOS
.DS_Store

# Bases de datos
*.db

# Assets externos
assets/external/

# =======================
# BACKUPS Y MIGRACIONES
# =======================
backup_migration/
backup_migration_*/
*.backup
*.bak
*.old
migration_log.json
